.App,
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  min-height: 100vh;
  background-color: var(--clr-app-bg);
  color: var(--clr-default-txt);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.theme-icon {
  cursor: pointer;
}

.matrix,
.keyboard {
  margin: 1rem;
}

.row {
  display: flex;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  padding: 1rem;
  margin: 2px;
  border: 2px solid var(--clr-matrix-border);
  font-weight: 800;
  font-size: 2rem;
}

[data-show_result='true'] {
  color: var(--clr-submited-txt);
  border: none;
}

[data-show_result='true'][data-present_in_word='false'] {
  background-color: var(--clr-not-in-word-bg);
}

[data-show_result='true'][data-present_in_word='true'][data-in_correct_position='false'] {
  background-color: var(--clr-in-word-bg);
}

[data-show_result='true'][data-present_in_word='true'][data-in_correct_position='true'] {
  background-color: var(--clr-correct-position-bg);
}

.keyboard {
  margin-top: auto;
}

.btn-key {
  background-color: var(--clr-keys-bg);
  color: var(--clr-default-txt);
  font-size: 0.85rem;
  border: none;
  padding: 1rem 0.6rem;
  margin: 0.2rem;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .btn-key {
    padding: 1.25rem 1rem;
  }
}
